<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatsDisplay.StatsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StatsDisplay.StatsSettings>
            <setting name="Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baud_rate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Startup_run" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Win_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup_minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPU_Temp" serializeAs="String">
                <value>Core (Tctl/Tdie)</value>
            </setting>
            <setting name="TempSelect" serializeAs="String">
                <value>False</value>
            </setting>
        </StatsDisplay.StatsSettings>
    </userSettings>
</configuration>